input {
    display: block;
}

select {
    display: block;
}

.productContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.labels {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.action {
    display: flex;
    flex-direction: column;
}

span {
    display: flex;
}